@import './../../colors.scss';

.chat{
    display: flex;
    flex-direction: column;
    max-height: 78vh;
    flex: 1;

    .chat-window{
        flex: 10;
        margin: 0px 0 10px;
        overflow: auto;
        // position: relative;

        .messages-list{
            list-style: none;
            padding: 0;
            margin: 0;
            
            li{
                border-bottom: 1px solid $message-border-color;
                background-color: $message-background;

                padding: 10px;
                word-wrap: break-word;
                white-space: pre-wrap;
            }
        }
    }

    .chat-input{
        flex: 2;
        display: flex;
        
        .input{
            flex: 10;
            border: 0;            
            resize: none;
        }
        .submit-buttons{
            flex: 2;
            display: flex;
            flex-direction: column;

                .submit{
                    flex: 1;
                    background-color: $main-accent;
                    border: 0;
                }
                .clear{
                    flex: 1;
                    background-color: $main-destructive;
                    border: 0;                    
                }

        }
    }
}