@import './../../colors.scss';

.chat{
    display: flex;
    flex-direction: column;
    height: 100%;

    .chat-window{
        flex: 10;
        margin: 0px 0 10px;
        overflow-y:scroll;
        // position: relative;

        .messages-list{
            list-style: none;
            padding: 0;
            margin: 0;

            
            .message{
                border-bottom: 1px solid $message-border-color;
                background-color: $message-background;

                padding: 10px;
                word-wrap: break-word;
                white-space: pre-wrap;

                .message-sender{
                    color: $accent-color;
                }
                .message-text{
                    margin-left: 10px;
                }
            }

            .local-user{
                text-align: right;
            }
        }
    }

    .chat-input{
        flex: 2;
        display: flex;
        
        .input{
            flex: 10;
            border: 0;            
            resize: none;
            background-color: $message-background;
            color: $main-text-color;
            font-family: sans-serif;
            padding: 5px;
            box-shadow: none;
        }
        .submit-buttons{
            flex: 2;
            display: flex;
            flex-direction: column;

                .submit{
                    flex: 1;
                    background-color: $main-accent;
                    border: 0;
                    color: $main-text-color;
                    font-family: sans-serif;
                    font-size: 14pt;
                }
                .clear{
                    flex: 1;
                    background-color: $main-destructive;
                    border: 0;
                    color: $main-text-color;
                    font-family: sans-serif;
                    font-size: 14pt;
                }

        }
    }
}