body {
  font-family: Helvetica;
  background: #eee;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  text-align: center; /* !!! */ }
.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}

.SignPage hr {
  color: #919191;
  margin: 0px 10px; }

.SignPage ul {
  padding: 100;
  margin-top: 100; }
  .SignPage ul li {
    margin: 5px 0px;
    list-style: none;
    background-color: #5F5F5F;
    text-align: center;
    height: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    display: flex; }
    .SignPage ul li a {
      text-decoration: none;
      color: #F3F3F3;
      margin: auto; }
