.main-page{
    display: flex;
    flex-direction: column;
    background-color: grey;
    height: 100vh;

    .header{
        background-color: blue;
        flex: 1;
        align-content: center;
        text-align: center;
    }

    .content{
        display: flex;
        flex-direction: row;
        flex: 9;

        .left-sidebar{
            background-color: green;
            flex: 1;
        }
        .main{
            background-color: yellow;
            flex: 4;

            margin: 10px;
        }
        .right-sidebar{
            background-color: red;
            flex: 1;
        }
    }

    .footer{
        background-color: purple;
        flex: 2;
        text-align: center;
        align-content: center;
    }
}