.channels hr {
  color: #919191;
  margin: 0px 10px; }

.channels .channel-list {
  padding: 0;
  margin-top: 0; }
  .channels .channel-list .channel {
    margin: 5px 0px;
    list-style: none;
    background-color: #5f5f5f;
    text-align: center;
    height: 40px;
    display: flex; }
    .channels .channel-list .channel a {
      text-decoration: none;
      color: #F3F3F3;
      flex-grow: 1; }
