@import './../../colors.scss';

.channels{

    hr{
        color: #919191;
        margin: 0px 10px;
    }

    .channel-list{
        padding: 0;
        margin-top: 0;

        .channel{
            margin: 5px 0px;
            list-style: none;
            background-color: $sidebar-button-background;
            text-align: center;
            height: 40px;
            // box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
            
            display: flex;
            
            a{
                text-decoration: none;
                color: #F3F3F3;
                flex-grow: 1;
            }
        }
    }
}