body {
  height: 100%; }

.landing-page {
  background: pink;
  background-image: url(../../img/landing-page.png);
  background-size: cover;
  height: 100vh; }

.landing-cta {
  color: white;
  text-align: center; }
