$main-background: #3a3a3a;
$sidebar-button-background: #5f5f5f;
$main-accent: #56ccf2;
$main-destructive: #f25670;
$accent-color: #56ccf2;

$main-text-color: #f3f3f3;
$message-background: #3f3f3f;
$message-border-color: #303030;