.register {
  box-sizing: border-box;
  /* Label */
  /* active */
  /* Underline */
  /* active */
  /* Highlight */
  /* active */
  /* Animations */
  /* Button */
  /* Button modifiers */
  /* Ripples container */
  /* Ripples circle */
  /* Ripples animation */ }
  .register .register-body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    text-align: center; }
  .register .register-body.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px; }
  .register .register-hgroup {
    text-align: center;
    margin-top: 4rem; }
    .register .register-hgroup h1, .register .register-hgroup h3 {
      font-weight: 300; }
    .register .register-hgroup h1 {
      color: #636363; }
    .register .register-hgroup h3 {
      color: #4a89dc; }
  .register .registerform {
    width: 380px;
    margin: 4rem auto;
    padding: 3rem 2rem 2rem 2rem;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px; }
    .register .registerform .registerform.group {
      position: relative;
      margin-bottom: 45px; }
    .register .registerform .register-input {
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      -webkit-appearance: none;
      display: block;
      background: #fafafa;
      color: #636363;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #757575; }
    .register .registerform .register-input.focus {
      outline: none; }
  .register .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease; }
  .register .label-focus input:focus ~ label, .register .label-focus input.used ~ label {
    top: -20px;
    transform: scale(0.75);
    left: -2px;
    /* font-size: 14px; */
    color: #4a89dc; }
  .register .bar {
    position: relative;
    display: block;
    width: 100%; }
  .register .bar:before, .register .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    transition: all 0.2s ease; }
  .register .bar:before {
    left: 50%; }
  .register .bar:after {
    right: 50%; }
  .register input:focus ~ .bar:before, .register input:focus ~ .bar:after {
    width: 50%; }
  .register .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  .register input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease; }

@keyframes inputHighlighter {
  from {
    background: #4a89dc; }
  to {
    width: 0;
    background: transparent; } }
  .register .button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #3160B6;
    cursor: pointer;
    transition: all 0.15s ease; }
  .register .button:focus {
    outline: 0; }
  .register .buttonBlue {
    background: #4a89dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, 0.5); }
  .register .buttonBlue:hover {
    background: #357bd8; }
  .register .ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent; }
  .register .ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25); }
  .register .ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in; }

@keyframes ripples {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0; } }
  .register footer {
    text-align: center; }
  .register footer p {
    color: #888;
    font-size: 13px;
    letter-spacing: .4px; }
  .register footer a {
    color: #4a89dc;
    text-decoration: none;
    transition: all .2s ease; }
  .register footer a:hover {
    color: #666;
    text-decoration: underline; }
  .register footer img {
    width: 80px;
    transition: all .2s ease; }
  .register footer img:hover {
    opacity: .83; }
  .register footer img:focus, .register footer a:focus {
    outline: none; }
